// Colors ====================================================================================================

$primaryColor: var(--color-primary);
$primaryColorRgba: var(--color-primary-rgba);
$secondaryColor: var(--color-secondary);
$gradiantColor: var(--color-gradiant);

$neutralColor: var(--color-neutral);
$backgroundColor: var(--color-background);
$greyColor: var(--color-grey);
$borderColor: var(--color-border);

$hoverColor: var(--color-primary-hover);
