
body[data-theme='light'] {
  // Colors ====================================================================================================
  --color-primary: #3A36DB;
  --color-primary-rgba: rgba(58, 54, 219, 0.05);
  --color-secondary: #FF69B4;
  --color-gradiant: #03A89E;

  --color-neutral: #fff;
  --color-background: #F1F4FA;
  --color-grey: #39394B;
  --color-border: #a8a8a8;

  --color-primary-hover: #dfddff;
}

body[data-theme='dark'] {
  // Colors ====================================================================================================

  --color-primary: #605CFF;
  --color-primary-rgba: rgba(58, 54, 219, 0.05);
  --color-secondary: #FF69B4;
  --color-gradiant: #2FE6A7;

  --color-neutral: #39394B;
  --color-background: #222131;
  --color-grey: #39394B;
  --color-border: #9d9d9d;

  --color-primary-hover: #dfddff;
}
